body {
	font-family: 'Encode Sans Condensed', sans-serif;
	padding: 20px;
}


h1 {
	font-size: 50px;
	margin: 5px;	
}

h2 {
	color: indigo;	
}

a {
	text-decoration: none;
}

a:hover {
	color:lightblue;
} 

nav {
	padding: 10px;
	padding-left: 0px;
	margin: 10px;
}

.roundedcorners {
	border-radius: 20px;
}